<app-navbar></app-navbar>

<div class='container'>
  <form>
    <div class='form-group'>
      <input type='text' name='movie-name' class='form-control' #moviename placeholder="Enter Movie name" style='margin-top: 20px;'>
    </div>
    <button (click)="getMovieDetails(moviename.value)" type="submit" class="btn btn-primary">Find Movie!</button>
  </form>

  <div class="row bg-light mt-4 p-4" *ngIf="movieData">
    <div class="col-sm-5">
      <div>
        <h3>{{movieData.Error}}</h3>
      </div>
      <div *ngIf="movieData.Title">
        <img src="{{movieData.Poster}}">
      </div>
    </div>
<div>
    <div class="col-sm-12">
      <div *ngIf="movieData.Title">
        <p id='movieTitle'>{{movieData.Title}}</p>
        <p id='directedBy'>Directed by :</p><p id='directorName'> {{movieData.Director}}</p>
      </div>
    </div>
  </div>
  </div>
</div>